<div fxLayout>
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <button (click)="openLogEntryDialog(add)" color="primary" mat-icon-button>
        <mat-icon>add</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onGenerateClicked()">
            <span>Generate </span>
            <mat-icon>picture_as_pdf</mat-icon>
        </button>
        <ng-container *ngIf="(selectedMonths$ | async) as allMonths">
            <button mat-menu-item [mat-menu-trigger-for]="months">Month</button>
            <mat-menu #months="matMenu">
                <ng-container *ngFor="let month of allMonths">
                    <button mat-menu-item (click)="monthSelected(month)">{{month | yearMonth}}</button>
                </ng-container>
            </mat-menu>
        </ng-container>
    </mat-menu>
</div>

<table (matSortChange)="customSort($event)" [dataSource]="dataSource" mat-table matSort matSortStart="desc">
    <ng-container matColumnDef="date">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Date</th>
        <td *matCellDef="let element" mat-cell>{{element.date}}</td>
    </ng-container>
    <ng-container matColumnDef="duration">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Duration</th>
        <td *matCellDef="let element" mat-cell>{{element.duration | logDuration}}</td>
    </ng-container>
    <ng-container matColumnDef="comment">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Comment</th>
        <td *matCellDef="let element" mat-cell>{{element.comment}}</td>
    </ng-container>
    <ng-container matColumnDef="update">
        <th *matHeaderCellDef mat-header-cell>Update</th>
        <td *matCellDef="let element" mat-cell>
            <button (click)="redirectToUpdate(element.date)" color="accent" mat-icon-button>
                <mat-icon class="mat-18">update</mat-icon>
            </button>
        </td>
    </ng-container>
    <ng-container matColumnDef="delete">
        <th *matHeaderCellDef mat-header-cell>Delete</th>
        <td *matCellDef="let element" mat-cell>
            <button (click)="redirectToDelete(element.date)" color="warn" mat-icon-button>
                <mat-icon class="mat-18">delete_outline</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
</table>
<mat-paginator [pageSizeOptions]="[2, 4, 6, 10, 20]" [pageSize]="10">
</mat-paginator>

<ng-container *ngIf="error$ | async as error">
    <p>Error: {{error}}</p>
</ng-container>
