<h1 mat-dialog-title>Row Action :: <strong>{{action}}</strong></h1>
<ng-container *ngIf="formGroup as fg">
    <form [formGroup]="fg">
        <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Date" formControlName='date'>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="formGroup.get('date')?.invalid">Date must not be in the future</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Start time" formControlName='startTime'>
            <mat-error *ngIf="formGroup.get('startTime')?.invalid">Invalid start time</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="End time" formControlName='endTime'>
            <mat-error *ngIf="formGroup.get('endTime')?.invalid">Invalid end time</mat-error>
        </mat-form-field>
        <mat-error *ngIf="
            formGroup.get('startTime')?.valid &&
            formGroup.get('endTime')?.valid &&
            formGroup.invalid">
            Start time is before end time
        </mat-error>
        <mat-form-field>
            <textarea matInput placeholder="Comment" formControlName='comment'></textarea>
        </mat-form-field>
    </form>
    <div mat-dialog-actions>
        <button mat-button [disabled]="!fg.valid" (click)="doAction()" mat-flat-button
                color="primary">{{action}}</button>
        <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
    </div>
</ng-container>
